@import "lib"


main
	margin 5 0
	padding 0 10
	flex 1
	display flex
	flex-flow column
	background #eee
	border-radius 5

	h2
		margin 0

	section
		overflow-y auto
		&>h2
			margin-top 10

	.day
		padding 20px
		margin-bottom 20px

		&:last-child
			margin-bottom 200px

	x-window
		color #eee

.table-header
	width 100%
	height 60px
	margin-bottom 10px
	bg #ccc
	flex initial
	display flex


.store-front
	flex 1
	display flex
	// flex-flow row
	flex-wrap wrap
	justify-content space-between
	padding-bottom 10

	.table-wrap
		flex 1
		margin-right 5
		bg #ccc
		padding 10 0

		&:last-child
			margin-right 0
			margin-left 5

		h2
			padding 5 5

		table
			width 100%
			border-collapse collapse

			td
				padding 5 7

			thead tr
				bg #aaa
				font-weight 600

			tbody tr:hover
				bg #bbb

		.price-col
			width 80
			text-align right

		.btn-col
			text-align right
			width 50
			padding-left 15

		.name-col:first-letter
			text-transform uppercase

